<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>アニメ判定</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/4-col-portfolio.css" rel="stylesheet">

  </head>


  <!--禁断のstyleタグ-->
  <style>
  h2.midasi {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
  }
  .profile {
    padding: 1em 1em;
    margin: 2em auto;
    background: #FFF;
    color: #000;/*文字色（必要なければ削除）*/
    font-weight: bold;/*太文字（必要なければ削除）*/
    border: solid 1px #CCCCCC;/*線の色*/
    width: 100%;/*幅の調節*/
}
  </style>



  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">アニメキャラ判定</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/image">Others
                  <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <h1>Who is author？</h1>
      <a href="https://twitter.com/s0ra____" target="_blank"><h2 class="midasi">s0ra</h2></a>
      <div class="profile">
        <p>年齢...14歳<br>ouheiwvhlOEIWHgaoiVHaow</p>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; s0ra</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/bootstrap/jquery/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>