<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>アニメ判定</title>
	</head>
	<form accept-charset="UTF-8" action="/image_upload" enctype="multipart/form-data" method="post">
	   <input id="upload_datafile" name="images" type="file" />
	   <input name="commit" type="submit" value="Upload" />
	</form>
</html>